:root {
  --primary-color : #016DAD;
  --secondary-color : #0095C0;
  --third-color : #666666;
  
  --text-color-third : #555;
  --text-color-secondary : #888888;
  --text-color-primary : #333;

  --background-primary-color : #ffffff;
  --background-secondary-color : #f2f2f2;
}

.panel-container {
  height: 100%;
  min-height: 600px;
  background: linear-gradient(to bottom, #016DAD, #0095C0);
  align-content: center;
}

.panel-container a{
  text-decoration: none;

}

.panel-container a:hover{
  color: #dddddd;
}

.name-brand-silony{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.text-brand-name{
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.menu-panel-container{
  display: block;
  list-style: none;
  padding-left: 0;
}

.menu-panel-container li:hover{
  background:rgb(0, 100, 158);
}

.menu-item-panel {
  padding: 10px 30px 10px 50px;
}

.menu-link-panel {
  /* padding-left: 40px; */
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.text-nav-panel{
  color: white;
  font-size: 14px;
  font-weight: 600;
}



.navbar-title-silony{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}


#navbar-silony {
  /* background: white; */
  background: linear-gradient(to right, #016DAD, #0095C0);
  border-bottom: 1px solid #0095C0;
  height: 50px;
  border-left: 1px solid white;
}


#body-silony-container{
  padding: 20px;
  background: var(--background-secondary-color);
}

#header-body-silony {
  height: 200px;
  width: 100%;
  background: #ffffff;
  border-top: 3px solid var(--background-secondary-color);
}

#body-silony{
  width: 100%;
  min-height: 550px;
  background: var(--background-primary-color);
  height: auto;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.ringkasan{
  margin-bottom: 20px;
}

.ringkasan-umum{
  width: 66%;
  height: 400px;
  margin-right: 21px;
  padding: 20px;
  background: var(--background-primary-color);  
}

.ringkasan-umum-title{
  font-size: 14px;
  color: var(--text-color-secondary);
}

.tanggal-ringkasan {
  transform: rotate(290deg);
  margin-bottom: 50px;
  color: var(--text-color-secondary);
}

.ringkasan-inti {
  width: 32%;
  margin-right: 0;
}

.ringkasan-inti-container{
  padding: 20px;  
  height: 220px;
  margin-bottom: 20px;
  background: var(--background-primary-color);  
}

/* .ringkasan-inti-header {
} */

.ringkasan-inti-title{
  font-size: 14px;
  color: var(--text-color-secondary);
}

.ringkasan-inti-body {
  text-align: center;
}

.ringkasan-hari-ini{
  font-size: 90px;
  color: var(--text-color-third);
  padding: 0;
  height: 110px;
}

.banding-target-container{
  text-align: center;
}

.banding-target {
  font-size: 30px;
  color: var(--secondary-color);
  margin: 0;
}

.banding-target-text {
  font-size: 12px;
  color: var(--text-color-secondary);
}

.barang-belum-diambil {
  padding: 20px;  
  height: 160px;
  background: var(--background-primary-color);
  text-align: center;
}

.jumlah-belum-diambil {
  font-size: 90px;
  color: var(--text-color-third);
  padding: 0;
  height: 110px;
}

.belum-diambil-text {
  font-size: 12px;
  color: var(--text-color-secondary);
}

#latest-act{
  height: auto;
}

.latest-act-header{
  padding-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;  
  font-size: 18px;
  color: var(--text-color-secondary);
}

.latest-act-detail{
  width: 32.1%;
  height: auto;
  background: var(--background-primary-color);
  margin-right: 20px;
  padding: 20px;
}

.latest-act-detail.latest-act-out {
  margin-right: 0;
}

.latest-act-title{
  display: inline;
}

.latest-title-text {
  display: inline;  
  color: var(--third-color);
  font-size: 14px;
}

.see-more-text{
  float: right;
  color : var(--text-color-secondary);
  font-size: 12px;
  padding-top: 4px;
}

.latest-act-body{
  padding: 20px;
}

.list-act {
  list-style: none;
  font-size: 13px;
  /* font-weight: 600; */
  color: var(--text-color-primary);
  margin-bottom: 10px;
}

.list-act:last-child {
  margin-bottom: 0;
}

.icon-in-out{
  width: 17px;
  height: auto;
  margin-right: 5px;
}

.barang-in-out{
  font-weight: 600;
  font-size: 13px;
}

/* SEMUA STYLE UNTUK BAGIAN KONTEN - DATA TABLE*/

.header-content {
  margin-bottom: 20px;
}

.title-content{
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-primary);
}

.progres-bar-target{
  margin-top: 10px;
  width: 70%;
  margin-right: 10px;
}

.text-bar-target{
  margin-top: 5px;
  font-size: 11px;
  width: 25%;
  color: var(--text-color-secondary);
}

.text-header-table {
  font-size : 12px;
  font-weight: 600;
  color: var(--text-color-primary);
  background: #eeeeee;
}

.text-row-table{
  font-size: 13px;
  /* font-weight: 600; */
  color: var(--text-color-primary);
}

.button-float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:10px;
	right:10px;
	background:linear-gradient(to right, #016DAD, #0095C0);
	color:#FFF;
	border-radius: 25px;
	text-align:center;
	/* box-shadow: 2px 2px 3px #999; */
}

.button-float span{
  font-size: 25px;
}

tr{
  padding : 40px;
}

/* body {
  background-color: #1D1F20;
} */

.ringkasan-umum-body{
  padding: 20px;
}


/* stylesheet untuk statistik vertical pada ringkasan */

.progress-bar-vertical {
  width: 52.5px;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  margin-right: 45px;
  float: left;
}
.progress-bar-vertical:nth-last-child(1) {
  margin-right: 0;
}

.progress-bar-vertical .progress-bar {
  text-align: center;
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

/* stylesheet form add and edit data */

.header-form-data{
  margin: 15px 0;
}

.title-form{
  font-size: 25px;
  font-weight: 600;
}

.footer-container{
  height: 40px;
  width: 100%;
}

.copyright{
  padding: 10px;
  font-size: 14px;
  color: var(--text-color-secondary);
}

.auth-page-container{
  width: 1366px;
  height: 600px;
  background: linear-gradient(to right, #016DAD, #0095C0);
  
}

.auth-page-box{
  justify-self: center;
  height: 300px;
  width: 600px;
  background: white;
}